.div-container {
    background-color: #FBFAF8;
}

/*text*/
.div-welcome {
    width: 806px;
    height: 288px;
    padding-top: 150px;
    margin-left: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 96px;
    color: #0A66C2;
}

/*image*/
.div-img {
    width: 100%;
    height: 615px;
    background: url("../../assets/bannerPrincipal.png");
    background-repeat: no-repeat;
}

/*users*/

.div-users {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 300px;
    width: 550px;
    height: 110px;
    margin-left: 150px;
    flex-wrap: wrap;

    .users-img {
        position: relative;
        top: 50px;
        right: 38px;
        margin-top: 5px;
        margin-right: 12px;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        object-fit: cover;
    }

    .users-name {
        position: relative;
        left: 35px;
        bottom: 20px;
        font-family: 'Manrope';
        font-size: 20px;
    }

    .users-desc {
        width: 100%;
        font-family: 'Manrope';
        font-size: 18px;
        text-align: center;
        position: relative;
        left: 35px;
        bottom: 20px;
    }

    .join-button {
        position: relative;
        left: 35px;
        bottom: 10px;
        width: 100px;
        height: 30px;
        color: #0A66C2;
        border: solid .5px #0A66C2;
        border-radius: 10px;
        transition: all .5s;
    }

    .join-button:hover {
        background-color: #0f7eec;
        color: white;
    }

    .to-linkedin{
        font-family: 'Manrope';
        text-decoration: none;
        color: #0A66C2;
        margin-left: 150px;
        position: relative;
        bottom: 36px;
    }

    .to-linkedin:hover{
        text-decoration: underline;
    }

}




/*select alert*/
.select {
    padding-left: 50px;
    width: 500px;
    height: 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}